.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

/* Modificado por el equipo para que se le aplique el mismo espaciado a la imágen con el logo */
footer, #loginLogo {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

/* Editando cálculo de tamaño del main, poasando de 100 a 90vh */
main {
  min-height: calc(90vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* Agregado por el equipo */

/* Logo en la página de login */
#loginLogo {
  width: 70%;
  max-width: 400px;
}

/* Ventana de login */
#loginWindow {
  /* Estas primeras tres líneas centran el elemento */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  padding: 3.5% 1.5%;
  background-color: #212529;
  border-radius: 10px;
  font-family: 'Inria Sans', Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

#loginTitle {
  font-size: 2em;
  text-align: center;
  margin-bottom: 11.5%;
}

/* Editamos el contenido de loginSpace, que es un span vacío entre "log" e "in", y poniéndole un espacio */
#loginSpace:after {
  content: " ";
}

#credentialsWindow {
  display: flex; /* Utilizamos flexbox para mejor colocación de los contenedores */
}

.credentialLabel, .credentialInput {
  flex-basis: 30%; /* Utilizamos flex-basis para indicar qué porcentaje del contenedor padre queremos que tome este elemento */
  text-align: right;
}

.credentialLabel > label {
  font-size: 1.3em;
  margin-top: 15%;
}

.credentialInput {
  flex-basis: 80%; /* Este flex-basis reemplaza el valor que se le da a .credentialInput en la línea 218 */
  text-align: right;
  font-size: 1em;
  line-height: 2em;
}

.credentialInput > input, #loginBtn {
  border-radius: 3px;
  border: 0;
  width: 90%;
  max-width: 270px;
  margin-top: 5%;
  padding-left: 3%;
}

/* Este código de acá selecciona todo input con type="password" dentro de la clase credentialInput, esto se hace para que los puntos del medio al escribir la contraseña no sean minúsculos, como serían sin estos dos bloques */
.credentialInput > input[type="password"] {
  font: small-caption;
  font-size: 1em;
  line-height: 2em;
}

/* Este código selecciona el placeholder (texto cuando no se escribió nada en el campo) del input anteriormente mencionado, cambiándole nuevamente la fuenta a Inria Sans, para que no quede con small-caption/Segoe UI */
.credentialInput > input[type="password"]::placeholder {
  font-family: 'Inria Sans', Arial, sans-serif;
}

#loginBtn {
  width: 100%;
  max-width: 150px;
  background-color: #F09100;
  padding: 1.5%;
  font-weight: bold;
  transition: 0.25s background-color; /* Esto hace una mini-animación que cambia ligeramente el color del fondo cuando el mouse se pone arriba del botón */
}

/* La pseudoclase hover indica que el mouse está situado sobre el elemento indicado, en este caso el botón de ID loginBtn */
#loginBtn:hover {
  background-color: #A86500;
}

/* Reseteamos el padding que añade la clase de Bootstrap alert-dismissible */
.alert-dismissible {
  padding-right: 1rem;
}

/* Estilizamos el texto con la opción para desloguearse */
#logoutLabel {
  display: inline; /* Le damos display inline para que se renderize dentro de la misma linea que el nombre de usuario */
  cursor: pointer; /* Poner el cursor con un dedito, como en los demás nav-links */
  color: #AD0911;
  transition: 0.25s color; /* Transición al poner el mouse sobre el elemento */
}

#logoutLabel:hover {
  color: #E8101A; /* Color al que cambia el elemento al colocarle el mouse arriba */
}

/* Adiciones a la página de productos */
/* Posicionamos el contenedor con los productos */
#prod-list-container {
  margin: 0 auto; /* Centra el contenedor */
  padding: 0 2%; /* Añade un pequeño padding relativo al ancho del contenedor */
}

/* Estilizamos la parte textual de cada producto */
#productContainer {
  display: flex;
  flex-direction: column;
}

/* Posicionamos el texto con la cantidad de productos vendidos */
#soldCounter {
  display: flex;
  flex-grow: 1; /* Acá hacemos que el elemento tome todo el tamaño restante de la Flexbox */
  align-items: flex-end; /* Situamos el elemento al final del Flexbox, verticalmente */
  justify-content: right; /* Situamos el elemento a la derecha */
}

/* product-info */

/* Estilizamos el contenedor de la información de cada producto */
#prod-info-container {
  gap: 1%; /* Espaciado entre productos */
  justify-content: space-between; /* Acomodamos los elementos dentro de la Flexbox */
  margin-top: 10%; /* Añadimos márgen arriba */
}

/* Contenedor con las otras imágenes del producto */
#prodImagesDiv {
  position: relative;
  flex: 0 1 10%; /* Espaciado dentro del Flexbox */
  border: 1px solid #D9D9D9;
  padding: 0.5%;
  border-radius: 10px;
  height: 100%;
  overflow-y: auto; /* Caso en el que las imágenes extiendan el tamaño del div */
}

/* Imágenes relacionadas del producto */
#prodImagesDiv > img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5%;
  object-fit: cover; /* Ajustamos la imagen */
  aspect-ratio: 1 / 1; /* Hacemos que la imagen se muestre cuadrada con un aspecto 1:1 */
  cursor: pointer;
}

/* Quitamos el márgen en la última imagen */
#prodImagesDiv > img:last-child {
  margin-bottom: 0;
}

/* Contenedor de la imagen principal */
#prodImageMainDiv {
  flex: 1 1 40%;
  position: relative;
}

/* Imagen principal */
#prodImageMain {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  transition: transform .2s; /* Animación al hacer zoom */
  cursor: pointer;
}

/* Contenedor con la información del producto */
#productInfo {
  display: flex;
  flex-direction: column;
  flex: 3 1 50%;
  margin-left: 1%;
  font-family: 'Inria Sans', Arial, sans-serif;
}

/* Título del producto */
#productInfoName {
  font-weight: bold;
  margin-top: 2%;
}

/* Costo del producto */
#productInfoCost {
  font-size: 2em;
}

/* Descripción del producto */
#productInfoDesc {
  width: 70%;
}

/* Texto de "Artículos recomendados */
#productInfo > p {
  color: #F09100;
  font-weight: bold;
  margin: 2% 0 1%;
}

/* Contenedor padre de los productos relacionados */
#relatedProducts {
  display: inline-block;
  margin-left: 2.5%;
}

/* Contenedor con los productos relacionados */
.relatedImages {
  display: inline-flex;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 0.5%;
  overflow: hidden;
  gap: 1%;
}

/* Imágenes de productos relacionados */
.relatedImages > img {
  display: block;
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 0.1vw;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

/* Botón para cerrar la imagen */
#imgBtn {
  position: absolute;
  top: 4%;
  left: 4%;
  transform: scale(1.5);
  opacity: 1;
  display: none;
  background-color: rgba(190, 49, 49, 0.288);
  transition: background-color .25s;
}

/* Animación al tener el mouse sobre el botón de arriba */
#imgBtn:hover {
  background-color: rgba(190, 49, 49, 0.664);
}

/* Estilos para los botones de filtrado */
#buttonFilter {
  max-width: 4rem;
  max-height: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

#buttonFilter > * {
  align-items: center;
  text-align: center;
  flex: 1;
  max-width: 80%;  /* Asegura que el contenido no se expanda más allá del botón */
  max-height: 80%; /* Asegura que el contenido no se expanda más allá del botón */
  flex-shrink: 0;  /* Evita que los elementos se reduzcan de tamaño */
  margin: 0;
}

/* Ajustamos el tamaño del input de búsqueda */
#searchInput {
  width: 30%;
}

  /* Sección calificaciones */
  #califications-div > *{
    margin-top: 1em;
  }

  #califications-div h5, textarea {
    color: white;
    font-family: 'Inria Sans', Arial, sans-serif;
  }

  #user-calification-btn{
    margin-top: 2em;
    background-color: #F09100;
    color:white;
    font-family: 'Inria Sans', Arial, sans-serif;
  }

  /* Estilos para las estrellas*/
  .star-rating .fa {
    font-size: 2rem; /* Tamaño de las estrellas */
    color: #ccc;  /*Color de las estrellas sin seleccionar */
    cursor: pointer;
}

.star-rating .fa:hover,
.star-rating .fa.selected {
    color: #F09100 /* Color de las estrellas seleccionadas*/
}

.star-rating{
  margin: 1em;
}

.card{
  background-color: #757575;
}

.card-body{
  background-color: #757575;
  max-height: min-content;
}

#dateTime{
  text-align: end;
}

#api-comments{
  margin: 0.2em;
  background-color: #979696;
  border-radius: 0.5em;
  
}

#all-califications{
  border: none;
}

#api-container{
  border: none;
}

/* Media Queries */
/* Tablets (en vertical) - hasta 768px */
@media screen and (max-width: 768px) {
  /* Centramos la ventana de login */
  #loginLogo {
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #loginWindow {
    width: 90%; /* Esto hará que la ventana no se vaya de la pantalla al estar en una pantalla más chica */
    /* Posicionamos la ventana haciendo una leve variación de lo que usamos anteriormente */
    position: absolute; /* Posición absoluta */
    top: 50%; /* "Coordenadas" desde arriba */
    transform: translate(-50%, -50%); /* Reposicionamos el elemento vertical y horizontalmente (antes ya estaba posicionado, pero lo dejó de estar al pasar a position absolute) */
    margin: 0 auto; /* Inmovilizamos al elemento */
  }

  /* Editamos el tamaño del título y le damos márgen abajo */
  #loginTitle {
    font-size: 2.7em;
    margin-bottom: 5%;
  }

  /* Cambiamos los colores de loginL, que es la letra L de login, para que sea naranja */
  #loginL, #loginSpace {
    color: #F09100;
  }

  /* Cambiamos el contenido del span loginSpace, el cual es un span vacío entre "log" e "in", y le seteamos un punto */
  #loginSpace::after {
    content: "•";
  }

  /* Escondemos las etiquetas de "usuario" y "contraseña", ya que estarán en el placeholder de ambos input - también escondemos el texto de "volver arriba" del footer */
  .credentialLabel, .float-end {
    display: none;
  }

  /* Centramos todos los elementos */
  #credentialsWindow {
    justify-content: center;
  }

  /* Damos a cada textbox el ancho total de su contenedor padre */
  .credentialInput > input {
    width: 100%;
    max-width: 100%;
  }

  /* Estilizamos el footer */
  footer.text-muted {
    font-size: 0.8em;
    text-align: center;
  }

  /* Página de productos */
  /* Cambiamos color al título de la categoría */
  #catTitle {
    color: #F09100;
  }

  /* Definimos un ancho máximo a la página de los productos en tablets */
  #prod-list-container { 
    max-width: 80%;
  }
  
  /* Seteamos ancho nuevo para la imagen de los productos, igual al ancho total del contenedor padre */
  #productImg {
    width: 100%;
  }
  
  /* Añadimos separación entre todos los elementos de productContainer */
  #productContainer {
    gap: 0.5em;
  }

  /* Seteamos la dirección de la Flexbox del texto principal de cada producto (nombre y precio), para que se muestren en columna (separen verticalmente) */
  #productMain {
    flex-direction: column;
  }

  /* Damos margen al los nombres y precios de cada producto */
  #productName, #productCost {
    margin-top: 0.2em;
  }

  /* Para el texto del producto, cambiamos su tamaño de fuente y la colocamos en negrita */
  #productCost {
    font-size: 1rem;
    font-weight: bold;
  }

  /* Estilizamos el contenedor de la información de cada producto */
  #prod-info-container {
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
  }

  /* product-info */
  /* Contenedor de la imagen principal */
  #prodImageMainDiv {
    order: 0;
    width: 100%;
    flex: 1;
  }

  /* Imagen principal */
  #prodImageMain {
    height: auto;
    cursor: auto;
  }

  /* Contenedor con las demás imágenes del producto */
  #prodImagesDiv {
    order: 1;
    display: flex;
    gap: 1%;
  }

  /* Otras imágenes del producto */
  #prodImagesDiv > img {
    height: 100%;
    width: 20%;
    margin: 0;
    flex-grow: 1;
  }

  /* Información del producto */
  #productInfo {
    order: 2;
  }

  /* Texto con categoría y cantidad de vendidos */
  #productInfo .text-muted {
    text-align: right;
    order: 1;
    margin-right: 1%;
  }

  /* Descripción del artículo */
  #productInfoDesc {
    width: 100%;
    text-align: justify;
  }

  /* Texto de Artículos recomendados */
  #productInfo > p {
    order: 2;
  }

  /* Contenedor con los productos relacionados */
  #relatedProducts {
    order: 3;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  /* Contenedor con las imágenes de los productos relacionados */
  .relatedImages {
    display: flex;
  }

  /* Imágenes de los productos relacionados */
  .relatedImages > img {
    flex-grow: 1;
    max-width: 100%;
  }

  /* Ajustamos el contenedor de los filtros para que matchee con el resto del contenido de la página */
  #filterContainer {
    max-width: 90%;
  }

  /* Ajustamos el tamaño del input de búsqueda */
  #searchInput {
    width: 100%;
  }
}

/* Ocultar banner en index.html una vez tenemos menos de 768px de ancho de pantalla */
@media screen and (max-width: 767px) {
  .jumbotron {
    display: none;
  }
}

/* Celulares - hasta 320px */
@media screen and (max-width: 320px) {
  #loginLogo {
    /* Cambiamos el tamaño del logo */
    width: 90%;
  }

  /* Editamos el color de la ventana de las credenciales, haciendo que se mezcle con el fondo */
  #loginWindow {
    position: relative;
    transform: translateX(-50%);
    background-color: #F8F9FA;
    width: 100%; /* Hacemos que el elemento tome todo el ancho de la pantalla */
  }

  /* Editamos el color del título */
  #loginTitle {
    color: #212529;
  }

  /* Centramos el contenedor de las credenciales */
  #credentialsWindow {
    justify-content: center;
  }

  /* Editamos el tamaño de los input */
  .credentialInput {
    flex-basis: 90%;
  }

  /* Editamos los estilos de los input y sus respectivos placeholders */
  .credentialInput > input, .credentialInput > input::placeholder {
    background-color: #212529;
    width: 100%;
    max-width: none;
    line-height: 3em;
    padding-left: 3%;
    margin-top: 1%;
    font-size: 1.2em;
    color: #F8F9FA;
  }

  /* Al igual que fuera de la MQ, manejamos el input de contraseña por separado */
  .credentialInput > input[type="password"] {
    line-height: 3em;
    font-size: 1.2em;
  }

  /* Estilizamos el botón de Ingresar */
  #loginBtn {
    width: 80%;
    max-width: 100%;
    line-height: 3em;
    margin-top: 5%;
    display: block;
    /* Centramos el botón */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Ajustamos tamaño de las alertas */
  #alertLoginOK, #alertLoginFAIL {
    width: 90%;
  }
  
  /* Página de productos */
  /* Definimos un ancho máximo a la página de los productos en celulares */
  #prod-list-container {
    max-width: 90%;
  }

  /* Ocultamos botón de pesos en el filtro por precio */
  #spanPrice {
    display: none;
  }

  /* Ajustamos los botones contra la derecha */
  #buttonGroup > button {
    justify-content: end;
  }

  /* Quitamos ancho máximo del contenedor de los filtros */
  #filterContainer {
    max-width: none;
  }

}