* {
    text-align: center;
    font-family: 'Comic Sans MS', Arial, sans-serif;
    background-color: teal;
}

#title {
    color: darkblue;
    background-color: darkred;
    padding: 0.5em;
    border-radius: 5px;
}

#pfp1 {
    width: 10%;
    border-radius: 50%;
}

#pfp2 {
    display: none;
}

.menu {
    padding-inline-start: 0;
}

.menu li {
    display: inline;
    font-size: 1.2em;
}

.p1, .p2 {
    padding: 1% 5%;
    text-align: justify;
    text-align-last: center;
    color: violet;
}

.p2 {
    color: greenyellow
}

#copyright {
    text-align: right;
    font-size: 0.6em;
    color: purple;
}

@media screen and (max-width: 320px) {
    #pfp2 {
        width: 80%;
        display: inline;
        border-radius: 50%;
    }
    
    #pfp1, .p2, #copyright {
        display: none;
    }
}