.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

/* Modificado por el equipo para que se le aplique el mismo espaciado a la imágen con el logo */
footer, #loginLogo {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

/* Editando cálculo de tamaño del main, poasando de 100 a 90vh */
main {
  min-height: calc(90vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* Agregado por el equipo */
#loginWindow {
  /* Estas primeras tres líneas centran el elemento en cuestión, siendo el contenedor con los detalles de login */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 446px;
  padding: 50px 20px;
  background-color: #212529;
  border-radius: 10px;
  font-family: 'Inria Sans', Arial, sans-serif;
  font-size: 20px;
  color: white;
}

#loginTitle {
  text-align: center;
  margin-bottom: 50px;
}

#credentialsWindow {
  display: flex; /* Utilizamos flexbox para mejor colocación de los contenedores */
}

.credentialLabel, .credentialInput {
  flex-basis: 30%; /* Utilizamos flex-basis para indicar qué porcentaje del contenedor padre queremos que tome este elemento */
  text-align: right;
}

.credentialLabel > label {
  margin-top: 16px;
}

.credentialInput {
  flex-basis: 85%; /* Este flex-basis reemplaza el valor que se le da a .credentialInput en la línea 218 */
  text-align: right;
  font-size: 16px;
  line-height: 30px;
}

.credentialInput > input, #loginBtn {
  border-radius: 3px;
  border: 0;
  width: 268px;
  margin-top: 15px;
}

/* Este código de acá selecciona todo input con type="password" dentro de la clase credentialInput, esto se hace para que los puntos del medio al escribir la contraseña no sean minúsculos, como serían sin estos dos bloques */
.credentialInput > input[type="password"] {
  font: small-caption;
  font-size: 16px;
  line-height: 30px;
}

/* Este código selecciona el placeholder (texto cuando no se escribió nada en el campo) del input anteriormente mencionado, cambiándole nuevamente la fuenta a Inria Sans, para que no quede con small-caption/Segoe UI */
.credentialInput > input[type="password"]::placeholder {
  font-family: 'Inria Sans', Arial, sans-serif;
}

#loginBtn {
  width: 144px;
  background-color: #F09100;
  padding: 5px;
  font-weight: bold;
  transition: 0.25s background-color; /* Esto hace una mini-animación que cambia ligeramente el color del fondo cuando el mouse se pone arriba del botón */
}

/* La pseudoclase hover indica que el mouse está situado sobre el elemento indicado, en este caso el botón de ID loginBtn */
#loginBtn:hover {
  background-color: #A86500;
}

/* Reseteamos el padding que añade la clase de Bootstrap alert-dismissible */
.alert-dismissible {
  padding-right: 1rem;
}

/* Estilizamos el botón de logout / Salir */
#logout {
  cursor: pointer; /* Poner el cursor con un dedito, como en los demás nav-links */
  color: #AD0911;
  transition: 0.25s color; /* Transición al poner el mouse sobre el elemento */
}

#logout:hover {
  color: #E8101A; /* Color al que cambia el elemento al colocarle el mouse arriba */
}

/* Adicciones para la página de los productos */
/* Posicionamos el contenedor con los productos */
#productContainer {
  display: flex;
  flex-direction: column;
}

/* Posicionamos el texto con la cantidad de productos vendidos */
#soldCounter {
  display: flex;
  flex-grow: 1; /* Acá hacemos que el elemento tome todo el tamaño restante de la Flexbox */
  align-items: flex-end; /* Situamos el elemento al final del Flexbox, verticalmente */
  justify-content: right; /* Situamos el elemento a la derecha */
}
#prod-list-container {
  margin: 0 auto; /* Centrará el contenedor */
  max-width: 80%; /* Define un ancho máximo relativo al contenedor padre */
  padding: 0 2%; /* Añade un pequeño padding relativo al ancho del contenedor */
}
@media screen and (max-width:320px) {
  .col-3{
    width: 100%;
  }
  #catTitle{
    color:#F09100
  }
  
}
@media screen and (max-width:768px) {
  .col-3{
    width: 100%;
  }
  #catTitle{
    color:#F09100
  }
  
  
}